$default-font-color: #333;


body { background-color: #fff; color: $default-font-color; }

.content {
	margin: 0 auto;
	width: 430px;
	background-color: #eee;

	.item {
		margin:10px;

		select {
			float:right;
			width:280px;
		}
	}

	textarea {
			width: 400px;
			height:60px;
	}

}
